@model CarInfoViewModel
@using CarApp.Extensions;
@using CarApp.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@using CarApp.Core.Services.Contracts;
@using static CarApp.Infrastructure.Constants.ApplicationConstants;
@inject IFavouritesService favouriteService
@inject SignInManager<ApplicationUser> SignInManager
@{

    
}

<div class="car-listing d-flex">
    <a asp-controller="CarListings" asp-action="Details" asp-route-id="@Model.Id" class="text-reset text-decoration-none">
    <div class="car-image-container">
            <img src="~/images/@Model.ImageUrl" alt="Car Image" class="car-image"
                 style="width: 100%;height: 100%;object-fit:cover; object-position: center; border-radius:inherit;">
    </div>
</a>
    <div class="ms-2 flex-grow-1 car-content">
        <div class="title">
            <div>
                <a asp-controller="CarListings" asp-action="Details" asp-route-id="@Model.Id" class="text-reset text-decoration-none">
                <div class="car-title">@Model.Brand @Model.Model @Model.Trim </div>
                </a>
            </div>
            <div class="title-price">
                <div class="car-price">@Model.Price</div>
            </div>
            @if (Model.SellerId != User?.GetUserId()?.ToString() && User?.Identity?.IsAuthenticated == true)
            {
                @if (await favouriteService.IsCarListingInFavourites(Model.Id, User.GetUserId()) == false)
                {
                    <div class="title-fav">
                        <span class="favorite-star text-primary">
                        <form method="post" asp-action="AddToFavourites" asp-controller="User">
                            <input type="hidden" name="carListingId" value="@Model.Id" />
                            <button type="submit" class="fav-button">
                            <i class="bi bi-star star" id="star"></i>
                            </button>
                        </form>
                    </span>
                    </div>
                }
                else
                {
                    <div class="title-fav">
                        <span class="favorite-star text-primary">
                            <form method="post" asp-action="RemoveFromFavourites" asp-controller="User">
                                <input type="hidden" name="carListingId" value="@Model.Id" />
                                <button type="submit" class="fav-button">
                                    <i class="bi bi-star-fill clicked star" id="star"></i>
                                </button>
                            </form>
                        </span>
                    </div>
                }
            }
        </div>
        <div class="car-details mt-2 text-muted">
            <span>@Model.Year year</span>
            <span>@Model.Milleage km</span>
            <span>@Model.FuelType</span>
            <span>@Model.Whp hp</span>
            <span>@Model.EngineDisplacement cc</span>
            <span>@Model.GearType</span>
            <span>@Model.BodyType</span>
        </div>
        <div class="car-description">
            @Model.Description
        </div>
        <div class="car-bottom-container">
        <div class="car-region">
                @if (@Model.LocationRegion == "Out of Bulgaria")
                {
                    <span>Location: @Model.LocationTown</span>
                }
                else {
                    <span>Location: @Model.LocationRegion, @Model.LocationTown</span>
                }
        </div>
        @if (User?.Identity?.IsAuthenticated == true)
            {
                <div class="options">
                    <div class="btn-group">
                        <button type="button" class="button-options" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical options-dots"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            @if (Model.SellerId == User?.GetUserId())
                            {
                                <li><a class="dropdown-item" asp-controller="User" asp-action="EditListing" asp-route-Id="@Model.Id">Edit</a></li>
                            }
                            @if (Model.SellerId == User?.GetUserId() || User?.IsInRole(AdminRoleName) == true)
                            {
                                <li><a class="dropdown-item" asp-controller="User" asp-action="Delete" asp-route-Id="@Model.Id">Delete</a></li>
                            }
                            @if (Model.SellerId != User?.GetUserId())
                            {
                                <li><a class="dropdown-item">Report</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    var stars = document.querySelectorAll('.star');

    stars.forEach(function (star) {
        star.addEventListener("mouseenter", function () {
            if (!this.classList.contains('clicked')) {
                this.classList.remove("bi-star");
                this.classList.add("bi-star-fill");
            }
        });

        star.addEventListener("mouseleave", function () {
            if (!this.classList.contains('clicked')) {
                this.classList.remove("bi-star-fill");
                this.classList.add("bi-star");
            }
        });

        star.addEventListener("click", function () {
            if (!this.classList.contains('clicked')) {
                this.classList.remove("bi-star");
                this.classList.add("bi-star-fill");
                this.classList.add("clicked");
            }
        });
    });
</script>
