@model CarListingEditViewModel


<div class="modal fade" id="addImagesModal" data-car-id="@Model.Id" tabindex="-1" role="dialog" aria-labelledby="addImagesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addImagesModalLabel">Manage Images</h5>
                <button type="button" class="close modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-icon">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Existing Images</h6>
                <div class="form-group mb-3 text-center">
                    <label for="NewCarImages">Add Images</label>
                    <input asp-for="NewCarImages" type="file" class="form-control-file" id="NewCarImages" name="NewCarImages" multiple>
                    <span asp-validation-for="NewCarImages" class="text-danger"></span>
                </div>
                <div class="row">
                    @foreach (var image in Model.CarImages)
                    {
                        <div class="col-md-4 mb-3 draggable-image-container"
                             draggable="true"
                             data-id="@image.Id">
                            <div class="image-wrapper">
                                <img src="~/images/@image.ImageUrl" class="img-fluid img-thumbnail" alt="Car Image @image.Order">
                                <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeImage('@image.Id')">Remove</button>
                                
                            </div>
                        </div>
                    }
                </div>
                @for (int i = 0; i < Model.CarImages.Count; i++)
                {
                    <input type="hidden" name="OrderedImages[@i].Id" value="@Model.CarImages[i].Id" />
                    <input type="hidden" name="OrderedImages[@i].Order" value="@Model.CarImages[i].Order" />
                }    
            </div>
            <div class="modal-footer">
                <button type="button" id="saveOrderButton" class="btn btn-primary">Save Order</button>
                <button type="submit" class="btn btn-primary">Save new Image</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
