@model CarListingEditViewModel
@{
}
<style>
    .car-image-container{
        width:100%;
        height: 500px;
        background-color:black;  
        align-content:center;
    }

    img {
       width:100%;
       height:100%;
    }

    .car-image-row{
        width:100%;
        height:500px;
    }
</style>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="EditListing" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input asp-for="Price" class="form-control" aria-required="true" type="number" step="1" min="0" />
                    </div>
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Whp" class="form-label-add-edit">Whp</label>
                    <div class="input-group">
                        <input asp-for="Whp" class="form-control" aria-required="true" type="number" step="1" min="0" />
                    </div>
                    <span asp-validation-for="@Model.Whp" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Milleage" class="form-label-add-edit">Milleage</label>
                    <div class="input-group">
                        <input asp-for="Milleage" class="form-control" aria-required="true" type="number" step="1" min="0" />
                    </div>
                    <span asp-validation-for="@Model.Milleage" class="text-danger"></span>
                </div>
            </div>

            <div class="row car-image-row justify-content-md-center">
                <div class="car-image-container">
                <div id="carImageCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.CarImages.Count; i++)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img src="~/images/@Model.CarImages.ElementAt(i).ImageUrl" class="d-block w-100" alt="Car Image @(i + 1)">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carImageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carImageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                </div>
            </div>

            <div class="row mt-3 mb-3">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addImagesModal">
                    Manage Images
                </button>
            </div>
            @await Html.PartialAsync("_ManageImagesModal")

            <div class="mb-2">
                <input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
                <a asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-dark-text mt-2 w-100 py-2 fw-bold rounded"
                   onclick="return confirm('Are you sure you want to delete this product?');">Delete</a>
            </div>
        </form>
    </div>
</div>


<script src="~/js/manageImagesModal.js"></script>
