@model CarListingEditViewModel
@{
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="EditListing" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input asp-for="Price" class="form-control" aria-required="true" type="number" step="1" min="0" />
                    </div>
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Whp" class="form-label-add-edit">Whp</label>
                    <div class="input-group">
                        <input asp-for="Whp" class="form-control" aria-required="true" type="number" step="1" min="0" />
                    </div>
                    <span asp-validation-for="@Model.Whp" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Milleage" class="form-label-add-edit">Milleage</label>
                    <div class="input-group">
                        <input asp-for="Milleage" class="form-control" aria-required="true" type="number" step="1" min="0" />
                    </div>
                    <span asp-validation-for="@Model.Milleage" class="text-danger"></span>
                </div>
            </div>
            @foreach(var image in Model.CarImages)
            {
                <img class="card-img" src="~/images/@image.ImageUrl" alt="Car Image">
            }
            <div class="form-group m-2">
                <label asp-for="@Model.NewCarImages">Insert More Images</label>
                <input asp-for="@Model.NewCarImages" type="file" class="form-control-file" id="NewCarImages" name="NewCarImages" multiple>
                <span asp-validation-for="@Model.NewCarImages" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
