@model IEnumerable<CarInfoViewModel>

    <h1>Favourites </h1>
<hr />
<style>
    .latest-cars-container{
        width:100%;
        display:grid;
        padding:20px;
        grid-template-columns: repeat(4, minmax(250px, 4fr));
        gap:20px;
    }
    .car-image {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
    }

    .car-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        background-color: #f2f2f2;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
        transition: transform 0.3s;
    }

        .car-card:hover {
            transform: translateY(-5px);
        }


    .car-details {
        padding: 10px;
        text-align: center;
    }

        .car-details h3 {
            margin: 10px 0;
            font-size: 1.2em;
            color: #333;
        }

        .car-details p {
            margin: 5px 0;
            font-size: 0.9em;
            color: #666;
        }


</style>
<div class="latest-cars-container">
    @if (Model != null && Model.Any())
    {
        foreach (var car in Model)
        {
            <div class="card-container d-flex flex-column">
            <a asp-controller="CarListings" asp-action="Details" asp-route-id="@car.Id" class="text-reset text-decoration-none">
                <div class="car-card" style="width: 18rem;">
                    <img src="~/images/@car.ImageUrl" alt="@car.Model" class="car-image" />
                    <div class="car-details">
                        <h3><strong>@car.Brand @car.Model @car.Trim </strong>(@car.Year)</h3>
                        <h3><strong>Price:</strong> @car.Price</h3>
                        <span><strong>Location:</strong> @car.LocationRegion, @car.LocationTown </span>
                    </div>
                </div>
            </a>
            <form asp-action="RemoveFromFavourites" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="carListingId" value="@car.Id" />
                <button type="submit" class="btn btn-warning m-2">Remove from favorites</button>
            </form>
            </div>
        }
    }
    else
    {
        <p>No cars available at the moment. Please check back later.</p>
    }
</div>