@model IEnumerable<CarInfoViewModel>

    <h1>Favourites </h1>
<hr />
<style>
    .card-img-top {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

</style>
<div class="row text-center">
    @foreach (var carListing in Model)
    {
        <div class="card border-3 border-dark m-3 justify-content-center" style="width: 18rem;">
            <a asp-controller="CarListings" asp-action="Details" asp-route-id="@carListing.id" class="text-reset text-decoration-none">
                <img class="card-img-top mt-2" src="~/images/@carListing.ImageUrl" alt="Car Image">
                <div class="card-body">
                    <h5 class="card-title">@carListing.Brand <strong>@carListing.Model</strong></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@carListing.FuelType</li>
                    <li class="list-group-item">@carListing.GearType</li>
                    @if (carListing.whp > 0)
                    {
                        <li class="list-group-item">@carListing.whp whp</li>
                    }
                    <li class="list-group-item">€@carListing.Price</li>
                </ul>
            </a>
            <form asp-action="RemoveFromFavourites" method="post">
                <input type="hidden" name="carListingId" value="@carListing.id"/>
                <button type="submit" class="btn btn-warning m-2">Remove from favorites</button>
            </form>
        </div>


    }
</div>