@model CarViewModel


<meta charset="UTF-8">
<div class="container add-container mt-5">
    <h2 class="mb-4 text-center">Add a New Car Listing</h2>

    <form asp-action="Add" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="BrandId">Car Brand</label>
                    <select asp-for="BrandId" onchange="updateModels()" class="form-select" id="carBrand" required>
                        <option value="">Select a Brand</option>
                        @foreach (var brandGroup in Model.Brands)
                        {
                            <optgroup label="@brandGroup.Key">
                                @foreach (var brand in brandGroup)
                                {
                                    <option value="@brand.Id">@brand.BrandName</option>
                                }
                            </optgroup>
                        }
                    </select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ModelId">Car Model</label>
                    <select id="carModel" asp-for="ModelId" class="form-control" required>
                        <option value="">Select a Model</option>
                    </select>
                    <span asp-validation-for="ModelId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Trim">Trim</label>
                    <input asp-for="Trim" type="text" class="form-control" placeholder="e.g. Plus, GTI, etc.">
                    <span asp-validation-for="Trim" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="5" placeholder="Enter description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Year">Year</label>
                    <select asp-for="@Model.Year" class="form-control" required>
                        <option value="">Select Year</option>
                        @foreach (int year in Model.YearList)
                        {
                            <option value="@year">@year</option>
                            
                        }
                    </select>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Whp">Horsepower</label>
                    <input asp-for="Whp" type="number" class="form-control" min="0" placeholder="Enter Horsepower" required>
                    <span asp-validation-for="Whp" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EngineDisplacement">Engine Displacement</label>
                    <input asp-for="EngineDisplacement" type="number" class="form-control" min="50" max="10000" placeholder="Enter Engine Displacement" required>
                    <span asp-validation-for="EngineDisplacement" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input asp-for="Price" class="form-control" type="number" min="1" step="1" placeholder="Enter Price" required>
                    </div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Mileage">Mileage</label>
                    <div class="input-group">
                        <span class="input-group-text">km</span>
                    <input asp-for="Mileage" type="number" class="form-control" min="0" placeholder="Enter Mileage" required>
                    </div>
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="@Model.FuelId">Fuel Type</label>
                    <select asp-for="@Model.FuelId" class="form-control" asp-items="@(new SelectList(Model.FuelTypes, "Id", "FuelName"))" required>
                        <option value="">Select Fuel Type</option>
                    </select>
                    <span asp-validation-for="@Model.FuelId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="@Model.GearId">Transmission</label>
                    <select asp-for="@Model.GearId" class="form-control" asp-items="@(new SelectList(Model.Gears, "Id", "GearName"))" required>
                        <option value="">Select Transmission</option>
                    </select>
                    <span asp-validation-for="@Model.GearId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="@Model.DrivetrainId">Drivetrain</label>
                    <select asp-for="@Model.DrivetrainId" class="form-control" asp-items="@(new SelectList(Model.Drivetrains, "Id", "DrivetrainName"))" required>
                        <option value="">Select Drivetrain</option>
                    </select>
                    <span asp-validation-for="@Model.DrivetrainId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="@Model.CarBodyId">Car Body Type</label>
                    <select asp-for="@Model.CarBodyId" class="form-control" asp-items="@(new SelectList(Model.CarBodyTypes, "Id", "Name"))" required>
                        <option value="">Select Body Type</option>
                    </select>
                    <span asp-validation-for="@Model.CarBodyId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.CarLocationId">Location</label>
                    <select asp-for="@Model.CarLocationId" id="carLocation" onchange="updateCities()" class="form-control" required>
                        <option value="">Select Location</option>
                        @foreach (var location in Model.CarLocations)
                        {
                            <option value="@location.Id">@location.RegionName</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.CarLocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CityId">City</label>
                    <select id="carCity" asp-for="CityId" class="form-control" required>
                        <option value="">Select a City</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="@Model.CarImages">Insert Images</label>
                    <input asp-for="@Model.CarImages" type="file" class="form-control-file" id="CarImages" name="CarImages" max="8" multiple required>
                    <span asp-validation-for="@Model.CarImages" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </div>

    </form>
</div>

@section Scripts {
    <script src="~/js/carSelection.js"></script>

    <script>
        const modelsData = [];
        const cityData = [];
        @foreach (var carModel in Model.Models)
        {
            <text>
                    modelsData.push({
                    BrandId: @carModel.BrandId,
                    ModelId: @carModel.Id,
                    ModelName: "@Html.Raw(carModel.ModelName)"
                        });
            </text>
        }
           
        @foreach (var city in Model.Cities)
        {
            <text>
                    cityData.push({
                    LocationId: @city.LocationId,
                    CityId: @city.Id,
                    CityName: "@Html.Raw(city.CityName)"
                        });
            </text>
        }


            populateCarModels(modelsData);
            populateCarCities(cityData);
    </script>
}