@model CarDetailsViewModel
@{
}

@* <div class="container mt-5">

    <div class="row justify-content-md-center">
        <div id="carImageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Images.Count; i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="~/images/@Model.Images.ElementAt(i).ImageUrl" class="d-block w-100" alt="Car Image @(i + 1)">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carImageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carImageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4 mb-0">
            @Model.Brand <strong>@Model.Model</strong>
        </h1>
        <h2 class="display-5 mb-0">
            @Model.Price
        </h2>
    </div>
    <div class="row">
        <div class="container">
            <h2>@Model.Seller.SellerFullName</h2>
            <h2>@Model.Seller.SellerEmail</h2>
            <h2>@Model.Seller.SellerPhoneNumber</h2>
        </div>
    </div>

    <div class="mt-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Posted in:</strong> @Model.DatePosted</li>
            <li class="list-group-item"><strong>Horsepower:</strong> @Model.Whp hp</li>
            <li class="list-group-item"><strong>Gear Type:</strong> @Model.GearType</li>
            <li class="list-group-item"><strong>Body Type:</strong> @Model.BodyType</li>
            <li class="list-group-item"><strong>Fuel Type:</strong> @Model.FuelType</li>
            <li class="list-group-item"><strong>Milleage (km):</strong> @Model.Milleage</li>
            <li class="list-group-item"><strong>Engine Displacement:</strong> @Model.EngineDisplacement cm<sup>3</sup></li>
        </ul>
    </div>

    <div class="mt-4">
        <h3>Description</h3>
        <p>@Model.Description</p>
    </div>
</div> *@

<div class="container mt-5">
    <div class="row">
        <!-- Car Image Container with Object-Fit -->
        <div class="col-lg-8">
            <div class="car-image-container align-content-lg-center">
                <div id="carImagesCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" >
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img src="~/images/@Model.Images.ElementAt(i).ImageUrl" class="d-block w-100 image" alt="Car Image @(i + 1)">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carImagesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carImagesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0 right-col">
            <div class="car-name">
                <h2><b>@Model.Brand @Model.Model</b> @Model.Trim</h2>
                <hr />
                <h2 class="mt-1 car-price"><b>@Model.Price</b></h2>
            </div>

            <div class="seller-info border rounded p-3 mt-3">
                <h5 class="text-center mb-4">Seller Information</h5>
                <div class="d-flex flex-column info-container">
                    <span><strong><i class="bi bi-person-circle"></i> Full Name:</strong> @Model.Seller.SellerFullName</span>
                    <span><strong><i class="bi bi-chat-dots"></i> Email:</strong> @Model.Seller.SellerEmail</span>
                    <span><strong><i class="bi bi-telephone-fill"></i> Phone:</strong> @Model.Seller.SellerPhoneNumber</span>
                </div>
            </div>

            <div class="car-details mt-3  text-muted">
                <table class="table">
                    <tr>
                        <td><i class="bi bi-calendar"></i> First registration</td>
                        <td><b>@Model.Year</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-fuel-pump-fill"></i> Fuel</td>
                        <td><b>@Model.FuelType</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-gear-fill"></i> Gearbox</td>
                        <td><b>@Model.GearType</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-speedometer"></i> Power</td>
                        <td><b>@Model.Whp hp</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-car-front-fill"></i> Body type</td>
                        <td><b>@Model.BodyType</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-tools"></i> Engine Displacement</td>
                        <td><b>@Model.EngineDisplacement</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-signpost-split"></i> Mileage (km)</td>
                        <td><b>@Model.Milleage km</b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="car-description border rounded p-3 mt-4">
        <h2>Description</h2>
        <p>
            @Model.Description
        </p>
    </div>
</div>
