@model CarDetailsViewModel
@inject IFavouritesService favouriteService
@{
}
<style>
    .carousel-container {
        flex: 1;
        text-align: center;
        position: relative;
    }

    .carousel {
        margin-top: 15px;
        border-radius: 8px;
        overflow: hidden;
        width: 100%;
        height: 700px;
        max-height: 800px;
        background-color:black;
        align-content:center;
    }

        .carousel img {
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
            width: 100%;
            max-height: 700px;
        }

</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="carousel-container">
                <div id="carImageCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img src="~/images/@Model.Images.ElementAt(i).ImageUrl" alt="Car Image @(i + 1)">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carImageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carImageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0 right-col">
            <div class="car-name">
                <div class="top-row d-flex flex-row justify-content-between">
                <h2><b>@Model.Brand @Model.Model</b> @Model.Trim</h2>
                    @if (Model.SellerId != User?.GetUserId()?.ToString() && User?.Identity?.IsAuthenticated == true)
                    {
                        @if (await favouriteService.IsCarListingInFavourites(Model.Id, User.GetUserId()) == false)
                        {
                            <div class="title-fav">
                                <span class="favorite-star text-primary">
                                    <form method="post" asp-action="AddToFavourites" asp-controller="User">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="carListingId" value="@Model.Id" />
                                        <button type="submit" class="fav-button">
                                            <i class="bi bi-star star" id="star"></i>
                                        </button>
                                    </form>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class="title-fav">
                                <span class="favorite-star text-primary">
                                    <form method="post" asp-action="RemoveFromFavourites" asp-controller="User">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="carListingId" value="@Model.Id" />
                                        <button type="submit" class="fav-button">
                                            <i class="bi bi-star-fill clicked star" id="star"></i>
                                        </button>
                                    </form>
                                </span>
                            </div>
                        }
                    }
                @if (User?.Identity?.IsAuthenticated == true)
                {
                        <div class="btn-group">
                            <button type="button" class="button-options" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical options-dots"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                @if (Model.SellerId == User?.GetUserId())
                                {
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="EditListing" asp-route-Id="@Model.Id">Edit</a></li>
                                }
                                @if (Model.SellerId == User?.GetUserId() || User?.IsInRole(AdminRoleName) == true)
                                {
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Delete" asp-route-Id="@Model.Id">Delete</a></li>
                                }
                                @if (Model.SellerId != User?.GetUserId())
                                {
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Report" asp-route-carListingId="@Model.Id">Report</a></li>
                                }
                            </ul>
                        </div>
                }
            </div>
                <hr />
                <h2 class="mt-1 car-price"><b>@Model.Price</b></h2>
            </div>

            <div class="seller-info border rounded p-3 mt-3">
                <h5 class="text-center mb-4">Seller Information</h5>
                <div class="d-flex flex-column info-container">
                    <span><strong><i class="bi bi-person-circle"></i> Full Name:</strong> @Model.Seller.SellerFullName</span>
                    <span><strong><i class="bi bi-chat-dots"></i> Email:</strong> @Model.Seller.SellerEmail</span>
                    <span><strong><i class="bi bi-telephone-fill"></i> Phone:</strong> @Model.Seller.SellerPhoneNumber</span>
                </div>
            </div>

            <div class="car-details mt-3  text-muted">
                <table class="table">
                    <tr>
                        <td><i class="bi bi-calendar"></i> First registration</td>
                        <td><b>@Model.Year</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-fuel-pump-fill"></i> Fuel</td>
                        <td><b>@Model.FuelType</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-gear-fill"></i> Gearbox</td>
                        <td><b>@Model.GearType</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-speedometer"></i> Power</td>
                        <td><b>@Model.Whp hp</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-car-front-fill"></i> Body type</td>
                        <td><b>@Model.BodyType</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-tools"></i> Engine Displacement</td>
                        <td><b>@Model.EngineDisplacement cc</b></td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-signpost-split"></i> Mileage (km)</td>
                        <td><b>@Model.Milleage km</b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="car-description border rounded p-5 mt-5">
        <h2 style="text-align:center;">More Info</h2>
        <p>
            @Model.Description
        </p>
    </div>
    <div class="latest-listings mt-4">
        <h2>Latest Listings</h2>
        @await Html.PartialAsync("_LatestCarsPartial", Model.LatestCars)
    </div>
</div>
