@model IEnumerable<CarInfoViewModel>

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <a asp-controller="CarListing" asp-action="Add" class="btn btn-primary"><i class="fas fa-plus"></i>Add Car Listing</a>
    }
</div>
<hr />
<style>
    .card-img-top{
        min-height: 200px;
        object-fit: cover;
    }

    .card-img-top:hover {
        min-height: 200px;
        object-fit: contain;
        background-color:black;
    }
</style>
<div class="row text-center">
    @foreach(var carListing in Model)
    {
        <div class="card border-3 border-dark m-3" style="width: 18rem;">
            <a asp-controller="CarListing" asp-action="Details" asp-route-id="@carListing.id" class="text-reset text-decoration-none">
            <img class="card-img-top" src="~/images/@carListing.ImageUrl" alt="Car Image">
            <div class="card-body">
                <h5 class="card-title">@carListing.Brand <strong>@carListing.Model</strong></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@carListing.FuelType</li>
                <li class="list-group-item">@carListing.GearType</li>
                @if(carListing.whp > 0)
                {
                    <li class="list-group-item">@carListing.whp whp</li>
                }
                <li class="list-group-item">@carListing.Price</li>
            </ul>
            </a>
        </div>
        @* 
        </div> *@

    }
</div>