@using CarApp.Extensions;
@using CarApp.Core.ViewModels.RefinedSearch
@model RefinedSearchViewModel

@{
    ViewBag.BackArrow = "<<";
}

<meta charset="UTF-8">
<div class="container mt-5">
    <h2 class="mb-4">Search Car Listings Page: @Model.CurrentPage</h2>

    <form method="get">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Brand">Car Brand</label>
                    <select asp-for="Brand" class="form-select" id="carBrand" onchange="updateModels()">
                        <option value="">Select a Brand</option>
                        @foreach (var brandGroup in Model.Brands)
                        {
                            <optgroup label="@brandGroup.Key">
                                @foreach (var brand in brandGroup)
                                {
                                    <option value="@brand.BrandName">@brand.BrandName</option>                        
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Model">Car Model</label>
                    <select id="carModel" asp-for="Model" class="form-select">
                        <option value="">Select a Model</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <div class="form-group">
                        <label asp-for="MinYear">Min Year</label>
                        <select asp-for="MinYear" class="form-select">
                            <option value=""></option>
                            @for (int year = DateTime.Now.Year; year >= 1930; year--)
                            {
                                <option value="@year">From @year</option>
                            }
                        </select>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MaxYear">Max Year</label>
                        <select asp-for="MaxYear" class="form-select">
                            <option value=""></option>
                            @for (int year = DateTime.Now.Year; year >= 1930; year--)
                            {
                                <option value="@year"> To @year</option>    
                            }   
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MinWhp">Min Horsepower</label>
                    <input asp-for="MinWhp" type="number" class="form-control" />
                    </div>
                </div>
            <div class="col-md-3">
                <div class="form-group">
                        <label asp-for="MaxWhp">Max Horsepower</label>
                    <input asp-for="MaxWhp" type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="MinEngineDisplacement">Min Engine Displacement</label>
                        <input asp-for="MinEngineDisplacement" type="number" class="form-control">
                </div>
            </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MaxEngineDisplacement">Max Engine Displacement</label>
                        <input asp-for="MaxEngineDisplacement" type="number" class="form-control">
                    </div>
                </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="MinPrice">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input asp-for="MinPrice" class="form-control" type="number" step="1">
                    </div>
                </div>
            </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MaxPrice">Price</label>
                        <div class="input-group">
                            <span class="input-group-text">€</span>
                            <input asp-for="MaxPrice" class="form-control" type="number" step="1">
                        </div>
                    </div>
                </div>
        </div>


        <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                    <label asp-for="@Model.Mileage">Any Mileage</label>
                    <select asp-for="@Model.Mileage" class="form-control">
                        <option value="">Any Mileage</option>
                        @foreach (var mileage in Model.MileageList)
                        {
                            <option value="@mileage">To @mileage km</option>
                        }
                    </select>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.Fuel">Fuel Type</label>
                    <select asp-for="@Model.Fuel" class="form-control">
                        <option value="">Any Fuel Type</option>
                            @foreach (var fuel in Model.FuelTypes)
                            {
                                <option value="@fuel.FuelName">@fuel.FuelName</option>    
                            }
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.Gear">Gear Type</label>
                        <select asp-for="@Model.Gear" class="form-control">
                            <option value="">Any Gear Type</option>
                            @foreach (var gear in Model.Gears)
                            {
                                <option value="@gear.GearName">@gear.GearName</option> 
                            }
                        </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.Drivetrain">Drivetrain</label>
                        <select asp-for="@Model.Drivetrain" class="form-control">
                            <option value="">Any Drivetrain Type</option>
                            @foreach (var drivetrain in Model.Drivetrains)
                            {
                                <option value="@drivetrain.DrivetrainName">@drivetrain.DrivetrainName</option>         
                            }
                        </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.CarBody">Car Body Type</label>
                        <select asp-for="@Model.CarBody" class="form-control">
                            <option value="">Any Car Body</option>
                            @foreach (var carBodyType in Model.CarBodyTypes)
                            {
                                <option value="@carBodyType.Name">@carBodyType.Name</option>   
                            }
                        </select>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <input asp-for="Sorting" type="hidden" value="@((int)Model.Sorting)" />
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <form>
        <div class="row align-items-center">
            <div class="col-md-6">
                <label asp-for="Sorting" class="form-label">Sort By</label>
                <div class="input-group">
                    <input asp-for="Brand" type="hidden" value="@Model.Brand" />
                    <input asp-for="Model" type="hidden" value="@Model.Model" />
                    <input asp-for="MinYear" type="hidden" value="@Model.MinYear" />
                    <input asp-for="MaxYear" type="hidden" value="@Model.MaxYear" />
                    <input asp-for="MinWhp" type="hidden" value="@Model.MinWhp" />
                    <input asp-for="MaxWhp" type="hidden" value="@Model.MaxWhp" /> 
                    <input asp-for="MinPrice" type="hidden" value="@Model.MinPrice" />
                    <input asp-for="MaxPrice" type="hidden" value="@Model.MaxPrice" />
                    <input asp-for="MinEngineDisplacement" type="hidden" value="@Model.MinEngineDisplacement" />
                    <input asp-for="MaxEngineDisplacement" type="hidden" value="@Model.MaxEngineDisplacement" />
                    <input asp-for="Mileage" type="hidden" value="@Model.Mileage" />
                    <input asp-for="Fuel" type="hidden" value="@Model.Fuel" />
                    <input asp-for="CarBody" type="hidden" value="@Model.CarBody" />
                    <input asp-for="Gear" type="hidden" value="@Model.Gear" />
                    <input asp-for="Drivetrain" type="hidden" value="@Model.Drivetrain" />
                    <select asp-for="Sorting" class="form-select">
                        <option value="0">Brand/Model/Year</option>
                        <option value="1">Car Year Descending</option>
                        <option value="2">Car Year Ascending</option>
                        <option value="3">Price Ascending</option>
                        <option value="4">Price Descending</option>
                        <option value="5">Date Added Ascending</option>
                        <option value="6">Date Added Descending</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Sort</button>
                </div>
            </div>
        </div>
    </form>
</div>
<partial name="_PaginationLinksPartialRefinedSearch" model="Model" />
<div class="row text-center">
    @foreach(var carListing in Model.CarListings)
    {
        <partial name="_CarListingPartial" model="@carListing" />
    }
</div>
<partial name="_PaginationLinksPartialRefinedSearch" model="Model" />

@section Scripts {
    <script src="~/js/carSelectionIndex.js"></script>

    <script>
        const modelsData = [];

        @foreach (var carModel in Model.Models)
        {
            <text>
                    modelsData.push({
                    BrandName: "@Html.Raw(@carModel.CarBrand.BrandName)",
                    ModelName: "@Html.Raw(@carModel.ModelName)"
                            });
            </text>
        }

            populateCarModels(modelsData);

        const selectedBrandName = "@Model.Brand";
        const selectedModelName = "@Model.Model";

        if (selectedBrandName) {
            updateModels();

            const modelSelect = document.getElementById("carModel");
            const selectedOption = Array.from(modelSelect.options)
            .find(option => option.value === selectedModelName);
            if (selectedOption) {
                selectedOption.selected = true;
            }
        }
    </script>
}